# Application
NODE_ENV=development

# Backend
API_PORT=3000
API_CORS_ORIGIN=http://localhost:4200

# Database
POSTGRES_PORT=5432
POSTGRES_DB=cadeboard
POSTGRES_USER=cadeboard
POSTGRES_PASSWORD=cadeboard_dev_password
DATABASE_URL=postgresql://cadeboard:cadeboard_dev_password@db:5432/cadeboard?schema=public

# Frontend
WEB_PORT=4200
API_BASE_URL=/api/v1
API_PROXY_PASS=http://api:3000
